[submodule "tiny-react"]
	path = sub_laboratory/tiny-react
	url = git@github.com:yzzeee/tiny-react.git

[submodule "tiny-redux"]
	path = sub_laboratory/tiny-redux
	url = git@github.com:yzzeee/tiny-redux.git

[submodule "tiny-micro-frontend"]
	path = sub_laboratory/tiny-micro-frontend
	url = git@github.com:yzzeee/tiny-micro-frontend.git